@import '../../styles/variables.scss';
.header {
   @include layoutElementStyle;
   @include flexCenter;
   position: relative;
   height: 60px; 
}

.menu {
   @include flexCenter;
   .name {
      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
      letter-spacing: 6px;
   }
}
