@import '../../styles/variables.scss';
.box {
   @include fontSettings;
   @include flexCenter;
   flex: 1;
   input {
      margin-right: 5px;
   }
   p:hover, input:hover{
      cursor: pointer;
      transform: translate(-1%,-1%);
   }

}

