@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');
@import './variables.scss';
@import '~normalize.css';
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
html {
   font-family: 'Ubuntu';
   font-weight: 500;
   font-size: 18px;
}
body {
   color: rgb(211, 209, 209);
   background-color: rgba(0, 0, 0, 0.1);
}
